@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-hover {
    position: relative;
}
.radial-hover::before {
    opacity: 0;
    background: radial-gradient(
        50rem circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,0.04),
        transparent 50%
    );
    border-radius: inherit;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.radial-hover:hover::before {
    opacity: 1;
}